@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
  white-space: pre-wrap;
}

@media screen and (max-width: 640px) {
  pre:has(.hljs) {
    width: 75vw;
  }

  .utterances {
    width: 90vw;
  }

  .utterances-container {
    max-width: 90vw;
  }
}