---
interface Props {
  terminalPath: string;
  isSearchable: boolean;
}

const { terminalPath, isSearchable = false } = Astro.props;
---

<div class="terminal-body">
  <div class="terminal-prompt-container">
    <div
      class="terminal-prompt"
      id="terminal-prompt-line"
      class:list={{ "clickable-prompt": isSearchable }}
    >
      <span class="terminal-prompt-prefix">$ </span>
      <span
        id="prompt-static-text"
        class="terminal-prompt-text"
        data-path={`open ${terminalPath}`}
      >
        open {terminalPath}
      </span>

      {
        isSearchable && (
          <div
            id="prompt-interactive-search"
            class="search-input-wrapper"
            style="display: none;"
          >
            <span class="terminal-prompt-text">$ search</span>
            <input
              type="text"
              id="layout-terminal-search"
              placeholder="grep entries..."
              autocomplete="off"
            />
          </div>
        )
      }

      <span class="terminal-cursor" id="prompt-cursor" aria-hidden="true"
      ></span>
    </div>

    {
      isSearchable && (
        <span class="search-hint-msg" id="start-search-hint">
          [Tip: Click prompt or press CMD/Ctrl+F or press Enter to search posts.]
        </span>
        <span class="search-hint-msg" id="stop-search-hint">
          [Tip: Click Escape or click out of the prompt to exit search.]
        </span>
      )
    }
  </div>
  <div class="frame-content">
    <slot />
  </div>
</div>

<script>
  import { searchQuery } from "../store";

  function initSearchTerminal() {
    const promptLine = document.getElementById("terminal-prompt-line");
    const staticText = document.getElementById("prompt-static-text");
    const searchWrapper = document.getElementById("prompt-interactive-search");
    const searchInput = document.getElementById(
      "layout-terminal-search",
    ) as HTMLInputElement;
    const prefix = document.querySelector(
      ".terminal-prompt-prefix",
    ) as HTMLElement;
    const customCursor = document.getElementById("prompt-cursor");
    const startSearchHint = document.getElementById("start-search-hint");
    const stopSearchHint = document.getElementById("stop-search-hint");

    if (!promptLine || !searchInput) return;

    function activateTerminalSearch() {
      if (prefix) prefix.style.display = "none";
      if (staticText) staticText.style.display = "none";
      if (customCursor) customCursor.style.display = "none";
      if (startSearchHint) startSearchHint.style.display = "none";
      if (stopSearchHint) stopSearchHint.style.display = "inline";
      if (searchWrapper) searchWrapper.style.display = "flex";
      searchInput.focus();
    }

    function deactivateTerminalSearch() {
      searchInput.value = "";
      searchQuery.set("");
      if (prefix) prefix.style.display = "inline";
      if (staticText) staticText.style.display = "inline";
      if (customCursor) customCursor.style.display = "inline-block";
      if (startSearchHint) startSearchHint.style.display = "inline";
      if (stopSearchHint) stopSearchHint.style.display = "none";
      if (searchWrapper) searchWrapper.style.display = "none";
    }

    promptLine.addEventListener("click", (e) => {
      e.stopPropagation();
      activateTerminalSearch();
    });

    document.addEventListener("keydown", (e) => {
      const isSearchShortcut =
        (e.ctrlKey || e.metaKey) && e.key.toLowerCase() === "f";
      const isEnterKey = e.key === "Enter";

      if (isSearchShortcut || isEnterKey) {
        e.preventDefault();
        activateTerminalSearch();
      }

      if (e.key === "Escape") {
        deactivateTerminalSearch();
      }
    });

    document.addEventListener("click", () => {
      deactivateTerminalSearch();
    });

    searchInput.addEventListener("input", (e) => {
      const target = e.target as HTMLInputElement;
      const query = target.value.toLowerCase().trim();
      searchQuery.set(query);
    });
  }

  document.addEventListener("astro:page-load", initSearchTerminal);
</script>

<script>
  import { isMainCursorVisible } from "../store";

  function switchCursorVisibility(cursor: HTMLElement, isVisible: boolean) {
    if (isVisible) {
      cursor.classList.add("is-visible");
    } else {
      cursor.classList.remove("is-visible");
    }
  }

  isMainCursorVisible.subscribe(visible => {
    const cursor = document.getElementById("prompt-cursor");
    if (cursor) {
        switchCursorVisibility(cursor, visible)}
    }
  );

  document.addEventListener("astro:after-swap", () => {
    const cursor = document.getElementById("prompt-cursor");
    if (!cursor) return;

    const visible = isMainCursorVisible.get();
    switchCursorVisibility(cursor, visible);
  });
</script>

<script>
  import { animate } from "animejs";
  import { navigate } from "astro:transitions/client";
  import {
    isNavigationOngoing,
    lastNavigationPathname,
    isWritingTerminalAnimationFinished,
    isMainCursorVisible,
  } from "../store";

  function initTerminalNavigation() {
    const promptLine = document.getElementById("terminal-prompt-line");
    if (!promptLine) return;
    promptLine.style.opacity = "1";

    const promptText = document.getElementById("prompt-static-text");
    if (!promptText) return;

    const targetText = promptText.getAttribute("data-path");
    if (!targetText) return;

    const currentPathname = window.location.pathname;

    if (lastNavigationPathname.get() !== currentPathname) {
      isWritingTerminalAnimationFinished.set(false);

      promptText.textContent = "";
      const textObj = { chargedChars: 0 };

      animate(textObj, {
        chargedChars: targetText.length,
        ease: "linear",
        duration: targetText.length * 50,
        onUpdate: () => {
          promptText.textContent = targetText.substring(
            0,
            textObj.chargedChars,
          );
        },
        onComplete: () => {
          isWritingTerminalAnimationFinished.set(true);
        },
      });
    }

    lastNavigationPathname.set(currentPathname);

    const localLinks = document.querySelectorAll(
      'a[href^="/"]:not([target="_blank"])',
    );

    localLinks.forEach((link) => {
      if (link.hasAttribute("data-terminal-bound")) return;
      link.setAttribute("data-terminal-bound", "true");

      link.addEventListener("click", (e) => {
        isMainCursorVisible.set(true);
        const isNavigating = isNavigationOngoing.get();
        const href = link.getAttribute("href");
        if (!href || isNavigating) return;

        const targetPathname = new URL(href, window.location.origin).pathname;
        if (window.location.pathname === targetPathname) return;

        e.preventDefault();
        isNavigationOngoing.set(true);

        const currentText = promptText.textContent;
        const backspaceObj = { length: currentText.length };

        animate(backspaceObj, {
          length: 0,
          ease: "linear",
          duration: currentText.length * 25,
          onUpdate: () => {
            promptText.textContent = currentText.substring(
              0,
              backspaceObj.length,
            );
          },
          onComplete: () => {
            isNavigationOngoing.set(false);
            navigate(href);
          },
        });
      });
    });
  }
  document.addEventListener("astro:page-load", initTerminalNavigation);
  document.addEventListener("astro:before-swap", () => isWritingTerminalAnimationFinished.set(false))
</script>

<style>
  .terminal-body {
    padding: 24px 32px 32px;
  }

  .terminal-prompt-container {
    display: block;
    gap: 12px;
    margin-bottom: 18px;
    border-bottom: 1px dashed var(--border-color);
    padding-bottom: 10px;
  }

  .terminal-prompt {
    display: flex;
    align-items: center;
    color: var(--accent-color);
    font-size: 12px;
    flex-grow: 1;
    opacity: 0;
  }

  .terminal-prompt-prefix {
    padding-right: 6px;
    user-select: none;
  }

  .clickable-prompt {
    cursor: pointer;
  }

  .search-input-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
  }

  #layout-terminal-search {
    background: transparent;
    border: none;
    color: var(--text-light);
    font-family: var(--font-mona);
    font-size: 12px;
    outline: none;
    flex-grow: 1;
    padding: 0;
    caret-color: var(--accent-color);
    caret-shape: block;
  }

  .search-hint-msg {
    font-size: 11px;
    color: var(--text-muted);
    opacity: 0.7;
  }

  #stop-search-hint {
    display: none;
  }

  .terminal-prompt-text {
    min-width: 0;
    overflow-wrap: anywhere;
  }

  .terminal-cursor {
    width: 8px;
    height: 15px;
    background: var(--accent-color);
    flex: none;
    opacity: 0;
    margin-left: 6px;
  }

  .terminal-cursor.is-visible {
    animation: blink 1s steps(1, end) infinite;
  }

  @keyframes blink {
    0%,
    50% {
      opacity: 1;
    }
    51%,
    100% {
      opacity: 0;
    }
  }

  .frame-content h1,
  .frame-content h2,
  .frame-content h3 {
    color: var(--text-light);
    margin-top: 24px;
    margin-bottom: 12px;
  }

  .frame-content p {
    color: var(--text-light);
    margin: 12px 0;
  }

  .frame-content a {
    color: var(--link-text);
    text-decoration: none;
    border-bottom: 1px dotted var(--link-text);
  }

  .frame-content a:hover {
    color: var(--link-hover);
  }

  .frame-content code {
    background: var(--code-bg);
    padding: 2px 6px;
    font-size: 13px;
    color: var(--code-text);
  }

  @media (max-width: 768px) {
    .terminal-body {
      padding: 16px 20px 20px;
    }
  }
</style>
